.mesa{
    width: 8%;
    height: 8%;   
}
.textMesa{
    width: 15%;  
}
.comensal{
    width: 8%;
    height: 8%;
}
.textComensal{
    width: 15%;   
}
.mesero{
    width: 8%;
    height: 8%;
}
.textMesero{
    width: 40%;   
}
.calendar{
    width: 8%;
    height: 8%;
}

.textOrden{
    width: 15%;  
}
.Ordenes{
    width: 75%;  
}
.textOrdenes{
    width: 10%; 
    font-size: 25%
}
.active {
    color:red;
}