.mesa{
    width: 8%;
    height: 8%;   
}
.textMesa{
    width: 37%;    
}
.comensal{
    width: 8%;
    height: 8%;
}
.textComensal{
    width: 37%;    
}
.mesero{
    width: 8%;
    height: 8%;
}
.textMesero{
    width: 37%;   
}
.calendar{
    width: 8%;
    height: 8%;
}