<ActionBar class="marca">
        <label text="Itakt" class="marca" android.horizontalAlignment="center"></label>
</ActionBar>

<ScrollView>
    <StackLayout>
            <DockLayout>
                    <Image src="~/images/LogSlogan.png"  class="logo"   dock="left" ></Image>
                    <Image src="~/images/imp.png"        class="imp"   ></Image>                                                 
                    <Image src="~/images/sinergitec.png" class="siner"  dock="right"></Image>                                    
            </DockLayout>

          
        <label></label>
        <label></label>
        <label></label>

        <TextView hint="Usuario" class="textView" [(ngModel)]='usuario'></TextView>
        <TextView hint="Contraseña" class="textView" [(ngModel)]='password'></TextView>

        <Button text="Iniciar Sesión" class="button" [nsRouterLink] ="['/home']" ></Button>
        <!--Button text="Iniciar Sesión" class="button" (tap)= "login()" ></Button-->
        <label></label>
        <label></label>
        <label text="Sinergitec.com" class="compania" ></label>
    </StackLayout>

</ScrollView>