<ActionBar class="marca">
        <label text="Itakt" class="marca" android.horizontalAlignment="center"></label>
</ActionBar>

<ScrollView>
    <StackLayout>
        <label text="Impulsado por Sinergitec" class="empresa"></label>
        <Image src="~/images/gris1.png" class="logo"></Image>
        <label></label>
        <label></label>
        <label></label>

        <TextView hint="Usuario" class="textView" [(ngModel)]='usuario'></TextView>
        <TextView hint="Contraseña" class="textView" [(ngModel)]='password'></TextView>

        <Button text="Iniciar Sesión" class="button" [nsRouterLink] ="['/home']" ></Button>
        <!--Button text="Iniciar Sesión" class="button" (tap)= "login()" ></Button-->
        <label></label>
        <label></label>
        <label text="Sinergitec.com" class="compania"></label>
    </StackLayout>

</ScrollView>