<ActionBar title="Itakt" class="login">
</ActionBar>

<ScrollView>
    <StackLayout>
        <label text= "Impulsado por Sinergitec" class="empresa"></label>
        <Image src="~/images/gris1.png" class="logo" ></Image>
        <label></label>
        <label></label>
        <label></label>
               
         <TextView  hint="Usuario" class="textView"></TextView>
         <TextView  hint="Contraseña" class="textView"></TextView>
        
        <Button text="Iniciar Sesión" class= "button" ></Button>  
        <label></label>
        <label></label> 
        <label text= "Sinergitec.com"  class="compania"></label> 
    </StackLayout>
        
</ScrollView>
