.menu{
    width: 5%;
    height: 5%;
}
.mesa{
    width: 8%;
    height: 8%;   
}
.textMesa{
    width: 37%;
    color: gray;   
}
.comensal{
    width: 8%;
    height: 8%;
}
.textComensal{
    width: 37%;
    color: gray;    
}
.mesero{
    width: 8%;
    height: 8%;
}
.textMesero{
    width: 37%;
    color: gray;    
}
.calendar{
    width: 8%;
    height: 8%;
}
.agregar{

    background: rgba(39, 132, 246, 0.3);
}
.icon{
    text-align: right;
}
.Btn1{
        margin-top: 20;
        width: 20%;
        height: 150px;
        background-color:green;
        text-align: center;
        color: white;
    }


.Btn2{

    margin-top: 20;
    width: 50%;
    height: 150px;
    background-color: red;
    text-align: center;
    color: white;

}